<!-- templates/authors/merged_list.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Merged Authors and Biographies</title>
</head>
<body>
    <h1>Authors and Their Biographies</h1>
            <table border="2">
                <tr>
                    <th>Author Name</th>
                    <th>Author Email</th>
                    <th>Author Biography</th>
                    <th>Author DOB</th>
                </tr>
                {% for i in data %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.email }}</td>
                    <td>{{ i.biography.bio }}</td>
                    <td>{{ i.biography.date_of_birth }}</td>
                </tr>
                {% endfor %}
            </table>
</body>
</html>
